<!DOCTYPE html>
<html lang="fr">
  <!-- Head.ejs include -->
  <%- include('head') %>
  <body>
    <header>
      <h1>Informations utilisateur</h1>
    </header>

    <main>
      <div>
        <h1>User informations</h1>
        <h2>Family name :</h2>
        <%= user.family_name %>
        <h2>Given name :</h2>
        <%= user.given_name %>
        <h2>Given name array :</h2>
        <%= user.given_name_array %>
        <h2>Gender :</h2>
        <%= user.gender %>
        <h2>Email :</h2>
        <%= user.email %>
      </div>

      <div>
        <form method="post" action="/logout">
          <button type="submit">Se déconnecter</button>
        </form>
      </div>
    </main>
  </body>
</html>
